/* UNIVERSAL CSS CODE*/

body {
    margin: 0;
    color: black;
    font-family: sans-serif;
}

header {
    background-color: rgb(11, 88, 73);
    color: white;
}

.header-content {
    text-align: center;
}

/*header img {
    
}

header h1{
}*/

/* index.html */

/*RIHANNA*/

#rihannaphoto {
    width: 300px;
}